simulation/evaluation.log
simulation/evaluation.log.bag
simulation/log.pyc
*.pyc
*.bag
logs
.idea
.registers
out-comptests
sq.db
challenges-dir
evaluator.log
output-local-evaluation
minimal_agent/output
