

-e git://github.com/duckietown/duckietown-shell.git@v3#egg=duckietown-shell
-e git://github.com/duckietown/duckietown-challenges.git@v3#egg=duckietown-challenges


# -e git://github.com/duckietown/gym-duckietown.git@aido1_lf1_r3-v3#egg=gym-duckietown
-e git+https://github.com/duckietown/gym-duckietown.git@aido1_lf1_r3-v3#egg=gym-duckietown


plotly
duckietown-world==1.0.19
