
-e git://github.com/duckietown/duckietown-shell.git@v3#egg=duckietown-shell
-e git://github.com/duckietown/duckietown-challenges.git@v3#egg=duckietown-challenges


duckietown-world==1.0.2
-e git://github.com/duckietown/gym-duckietown.git@duckietown-world#egg=gym-duckietown
beautifulsoup4>=4.6.3
